{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'myContent/css/about.css' %}">
{% endblock %}

{% block title %}
  mcatDB
{% endblock %}

{% block body_block %}
  <div class="content">

    <div class="box">
      <h3>Leave a review</h3>
      <p>
        Did you find this site helpful in your studies?
      </p>
      <p>
        Please leave a review at <a href="http://www.facebook.com/mcatDB/reviews/">www.facebook.com/mcatDB/reviews/</a>. The developers would really appreciate it!
      </p>
    </div>

    <div class="box">
      <h3>Contact the developers</h3>
      <p>
        Questions? Comments? Email michael dot chiang dot mc5 at gmail dot com. I'm pretty responsive to emails.<br />
      </p>
      <p>
        Or click <a href="http://www.michael-chiang.com">www.michael-chiang.com</a> to learn more about me.
      </p>
    </div>

  </div>
{% endblock %}
