{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'myContent/css/frontpage.css' %}">
{% endblock %}

{% block title %}
  mcatDB
{% endblock %}

{% block body_block %}
  <div class="content">

    <!-- link to admin panel -->
    {% if request.user.is_superuser %}
      <div>
        <a href="{% url 'Test:adminPanel' %}">admin panel</a>
      </div>
    {% endif %}

    <!-- question of the day -->
    <h1>Question of the day</h1>


  </div>
{% endblock %}
