{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'myContent/css/questionOfTheDay.css' %}">
{% endblock %}

{% block title %}
  mcatDB
{% endblock %}

{% block body_block %}
  <div class="content">
    {% if request.user.is_superuser %}
      <div>
        <a href="{% url 'Test:adminPanel' %}">admin panel</a>
      </div>
    {% endif %}

    <p>
    Hi fellow psych1 students.
    </p>

    <p>
    Go to your profile (top right, click on your name, user profile) and adjust date filters so that minimum = 07/28/2016, maximum = leave it empty.
    Make sure to click submit.
    </p>

    <p>
    This will make it so that only questions based on ch. 10.1, 13, 14 show up.
    </p>

    <p>
    Then click on random question to display random questions
    </p>

    <p>
      Best way to use this tool is to study yourself first, then try a couple questions to see if there are any gaps in knowledge
    </p>

    <p>
    Any questions email michael.chiang.mc5@gmail.com
    </p>



  </div>
{% endblock %}
