.left-box{
    width:50%;
    float:left;
    overflow: scroll;
}
.right-box{
    width:49%;
    float:right;
    overflow: scroll;
}

.header-correct {
  background-color: rgba(65, 205, 117, 0.4) !important ;
}
.header-incorrect {
  background-color: rgba(250, 109, 121, 0.4) !important;
}
.explanation {
  background-color: rgba(222, 226, 63, 0.61) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.display-none {
  display: none;
}

.admin-tools {
  font-size: 10px;
}

.box {
  background-color: #F5F5F5;
  padding-left: 0.25in;
  padding-right: 0.25in;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
}

.question-box {
  background-color: white;
  padding-left: 0.25in;
  padding-right: 0.25in;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  border-radius: 0.1in;
  margin-top: 20px;
}

.answer-box {
  background-color: #F5F5F5;
  padding-left: 0.25in;
  padding-right: 0.25in;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  border-radius: 0.05in;
  margin-top: 10px;
}

/* color of selected answer */
.selected-answer {
  background-color: rgba(120, 186, 233, 0.4) !important;
}

/* color of wrong answer */
.background-red {
  background-color: rgba(250, 109, 121, 0.4) !important;
}
.background-green {
  background-color: rgba(65, 205, 117, 0.4) !important ;
}


.box-offset {
  background-color: #F5F5F5;
  padding-left: 0.25in;
  padding-right: 0.25in;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  border-radius: 0.25in;
  margin-top: 20px;
  margin-left:50px;
}
.box-offset-2 {
  background-color: #F5F5F5;
  padding-left: 0.25in;
  padding-right: 0.25in;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  border-radius: 0.25in;
  margin-top: 20px;
  margin-left:100px;
}
.box-offset-3 {
  background-color: #F5F5F5;
  padding-left: 0.25in;
  padding-right: 0.4in;
  padding-top: 0.05in;
  padding-bottom: 0.1in;
  border-radius: 0.25in;
  margin-left:10px;
}

.answer-button {
  margin-left:20px;
  text-align: left;
}

hr {
  border-top: 1px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.date {
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 9px;
}

.footer {
  font-size: 10px;
}


figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom:10px;
}
figcaption {
  text-align: left;
  font-size: 12px;
  color: green;
}

.width-100 {
  width: 100%;
}
