{% extends "MCBase/base-extended.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'UserProfile/css/editProfileInterface.css' %}">
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {extensions: ["mhchem.js"]}
  });
  </script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{% endblock %}

{% block title %}
  tag admin
{% endblock %}

{% block body_block %}

  {% if questionContainers %}






  <form class="note-form" role="form" action="{% url 'Test:selectAllTags' %}" method=POST>
    {% csrf_token %}

    {% for questionContainer in questionContainers %}
      <div class="row box">

          <div class="col-md-5">

            <div class="date">
              {{ questionContainer.time|date:'F j, Y' }}
            </div>

            <div>
              {% if questionContainer.content_object.type == "question" %}
                {{ questionContainer.content_object|safe }}
              {% elif questionContainer.content_object.type == "passage" %}
                {{ questionContainer.content_object|safe }}
              {% else %}
                unknown content_object
              {% endif %}
            </div>
          </div>


            <div class="col-md-5">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tbody>
                    {% for tag in questionContainer.taglist %}
                      {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
                      <td class="text" align="left">
                        <div class="inline">
                          <input type="checkbox" name="{{ tag }}" value="{{ questionContainer.pk }}" {% if tag.checked %} checked {% endif %}>
                        </div>
                        {{ tag }}
                      </td>
                      {% if forloop.counter|divisibleby:3 %}</tr>{% endif %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          <div class="col-md-1"></div>
        </div>
    {% endfor %}

    <button class="btn-sm btn-primary width-100" type="submit">change all</button>

  </form>

  {% else %}
    No questionContainers
  {% endif %}

{% endblock %}
