{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'Test/css/adminList.css' %}">
{% endblock %}

{% block title %}
  admin panel
{% endblock %}

{% block body_block %}
  <!-- filter options -->
  <div>
    <h1>Filter options:</h1>
    <!-- filter by tag -->
    <div>
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
          {% for tag in tags %}
            {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
            <td class="text" align="left">
              <div class="include-tag inline">
                <input onclick="gYes(8)" type="checkbox" id="gy8" name="GENRE[8]" value="1">
              </div>
              <div class="exclude-tag inline">
                <input id="gn8" onclick="gNo(8)" type="checkbox" name="NOGENRE[8]" value="1">
              </div>
              {{ tag }}
            </td>
            {% if forloop.counter|divisibleby:3 %}</tr>{% endif %}
          {% endfor %}


        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr />
  <br />

  <!-- display questions -->
  <div>
    <a href="{% url 'Test:passageList' %}">Edit passages</a>
    <br />
    <a href="{% url 'Test:standaloneQuestionList' %}">Edit standalone questions</a>
    <br />

  </div>

{% endblock %}
