{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'Test/css/admin.css' %}">
{% endblock %}

{% block title %}
  admin panel
{% endblock %}

{% block body_block %}
  <div>

    <a href="{% url 'Test:addPassageEditor' %}">add passage-based questions</a>
    <br />
    <a href="{% url 'Test:addQuestionEditor' 0 %}">add single question</a>
    <br />

    <hr />

    <a href="{% url 'Test:questionContainerList' %}">view list</a>
    <br />
    <hr />
    <br />

    <a href="{% url 'myContent:admin_questionOfTheDay' %}">question of the day</a>


  </div>
{% endblock %}
