{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'Test/css/admin.css' %}">
{% endblock %}

{% block title %}
  admin panel
{% endblock %}

{% block body_block %}
  <div>

    <a href="{% url 'Test:addPassageEditor' %}">add passage-based questions</a>
    <br />
    <a href="{% url 'Test:addQuestionEditor' 0 %}">add single question</a>
    <br />

    <hr />

    <a href="{% url 'Test:questionContainerList' %}">view list</a>
    <br />

    <a href="{% url 'Test:adminTagsIndividual' %}">tag admin (individual)</a>
    <br />
    <a href="{% url 'Test:adminTagsMass' %}">tag admin (mass)</a>



  </div>
{% endblock %}
