{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'Test/css/admin.css' %}">
{% endblock %}

{% block title %}
  question list
{% endblock %}

{% block body_block %}
  <div class="box">
    <div>
      {{ questionContainer.content_object|safe }}
    </div>
  </div>

  <hr />
  Current tags:
  <div>
    {% for tag in tags %}
      {{ tag }} &nbsp;
    {% endfor %}
  </div>
  <hr />

  <!-- list of all possible tags -->
  Possible tags:
  <div>
    {% for tag in allTags %}
      {{ tag }} &nbsp;
    {% endfor %}
  </div>

  <!-- add/remove tags -->
  <hr />
  <form role="form" action="{% url 'Test:addTag' questionContainer.pk %}" method=POST>
    <!-- POST data -->
    {% csrf_token %}
    <input type="text" name="tag-text">
    <input type="submit" value="add tag">
  </form>
  <form role="form" action="{% url 'Test:removeTag' questionContainer.pk %}" method=POST>
    <!-- POST data -->
    {% csrf_token %}
    <input type="text" name="tag-text">
    <input type="submit" value="remove tag">
  </form>







{% endblock %}
