{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'Test/css/admin.css' %}">
{% endblock %}

{% block title %}
  passage list
{% endblock %}

{% block body_block %}
  <div>
    [<a href="{% url 'Test:addPassageEditor' %}">Add passage</a>] &nbsp;
    [<a href="{% url 'Test:adminPanel' %}">Back to admin panel</a>] &nbsp;

    <hr />

    {% if passages %}
      {% for passage in passages %}
        <div class="box">
          <div class="date">
            <div>
              {{ passage.time|date:'F j, Y' }}
            </div>
            <hr />
          </div>

          <div>
            {{ passage|safe }}
          </div>

          <div class="footer">
            [<a href="{% url 'Test:editPassageEditor' passage.pk %}">edit</a>] &nbsp;
            [<a href="{% url 'Test:passageDetail' passage.pk %}">detail</a>]
          </div>
        </div>
      {% endfor %}
    {% else %}
      No passages
    {% endif %}
  </div>

{% endblock %}
