{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'Test/css/passageList.css' %}">
{% endblock %}

{% block title %}
  passage list
{% endblock %}

{% block body_block %}
  <div>
    <h1>Passage list</h1>

    [<a href="{% url 'Test:addPassageEditor' %}">Add passage</a>] &nbsp;
    [<a href="{% url 'Test:adminPanel' %}">Back to admin panel</a>] &nbsp;
    <hr />
    <br />


  </div>


  <div>

    {% if passages %}
      {% for passage in passages %}
        <div class="box">
          <div class="max-lines">
            {{ passage|safe }}
          </div>
          <div class="footer">
            [<a href="{% url 'Test:passageDetail' passage.pk %}">detail</a>]
          </div>
        </div>
      {% endfor %}
    {% else %}
      No passages
    {% endif %}
  </div>

{% endblock %}
