{% extends "MCBase/base-extended.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'Test/css/questionContainerList.css' %}">
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {extensions: ["mhchem.js"]}
  });
  </script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="{% static 'Test/js/adminTags.js' %}"></script>

{% endblock %}

{% block title %}
  question list
{% endblock %}

{% block body_block %}
  <a class="filter-tags cursor-pointer">Click to filter by tags</a>

  <div class="box tag-choices display-none">
    <form class="note-form" role="form" action="{% url 'Test:questionContainerList' %}" method=POST>
      {% csrf_token %}
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
          {% for tag in tags_display %}
            {% if forloop.counter0|divisibleby:7 %}<tr>{% endif %}
            <td class="text" align="left">
              <div class="include-tag inline">
                <input type="checkbox" name="{{ tag }}" value="include" {% if tag.include %} checked {% endif %}>
              </div>
              <div class="exclude-tag inline">
                <input type="checkbox" name="{{ tag }}" value="exclude" {% if tag.exclude %} checked {% endif %}>
              </div>
              {{ tag }}
            </td>
            {% if forloop.counter|divisibleby:7 %}</tr>{% endif %}
          {% endfor %}
        </tbody>
      </table>
      <button class="btn btn-primary" type="submit">submit</button>
    </form>
  </div>



  <br /> <br />
  [<a href="{% url 'Test:addPassageEditor' %}">add passage-based questions</a>] &nbsp;
  [<a href="{% url 'Test:addQuestionEditor' 0 %}">add single question</a>] &nbsp;
  <br />
  <hr />

  {% if questionContainers %}
    <br />
    <h1>{{ questionContainers|length }} total questionContainers</h1>

    <form class="note-form" role="form" action="{% url 'Test:selectAllTags' %}" method=POST>
      {% csrf_token %}

      {% for questionContainer in questionContainers %}

        <div class="row box">
          <div {% if tagAdmin %} class="col-md-6" {% endif %}>  <!-- shorten if tag admin -->
            <div class="date">
              {{ questionContainer.time|date:'F j, Y' }}, pk={{questionContainer.pk}}
            </div>
            <!-- question -->
            {% if questionContainer.content_object.type == "question" %}
              <div>
                {{ questionContainer.content_object|safe }}
              </div>
            {% elif questionContainer.content_object.type == "passage" %} <!-- if passage, truncate -->
              <div class="max-lines">
                {{ questionContainer.content_object|safe }}
              </div>
            {% endif %}
            <div class="footer">
              [<a href="{% url 'Test:editQuestionEditor' questionContainer.content_object.pk %}">edit</a>] &nbsp;
              [<a href="{% url 'Test:questionContainerDetail' questionContainer.pk 0 %}">detail</a>]
            </div>
          </div>

          <!-- checkboxes for tags -->
          {% if tagAdmin %}
            <div class="col-md-6">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tbody>
                    {% for tag in questionContainer.taglist %}
                      {% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
                      <td class="text" align="left">
                        <div class="inline">
                          <input type="checkbox" name="questionContainer-{{ questionContainer.pk }}" value="{{ tag }}" {% if tag.checked %} checked {% endif %}>
                        </div>
                        {{ tag }}
                      </td>
                      {% if forloop.counter|divisibleby:4 %}</tr>{% endif %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          {% endif %}
        </div>

      {% endfor %} <!-- for loop for question container -->
    <button class="btn-sm btn-primary width-100" type="submit">change all</button>

  </form>
  {% else %}
    No questionContainers. Try filtering?
  {% endif %}

{% endblock %}
