{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'Test/css/admin.css' %}">
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="{% static 'Test/js/resize_img.js' %}"></script>
{% endblock %}

{% block title %}
  question list
{% endblock %}

{% block body_block %}
  [<a href="{% url 'Test:addQuestionEditor' 0 %}">Add standalone question</a>] &nbsp;
  [<a href="{% url 'Test:adminPanel' %}">Back to admin panel</a>] &nbsp;
  <hr />

  {% if questions %}

    {% for question in questions %}
      <div class="box">

        <div class="date">
          {{ question.time|date:'F j, Y' }}
        </div>

        <div>
          {{ question|safe }}
        </div>

        <div class="footer">
          [<a href="{% url 'Test:editQuestionEditor' question.pk %}">edit</a>] &nbsp;
          [<a href="{% url 'Test:standaloneQuestionDetail' question.pk %}">detail</a>]
        </div>
      </div>
    {% endfor %}
  {% else %}
    No questions
  {% endif %}

{% endblock %}
