{% extends "MCBase/base.html" %}
{% load staticfiles %}

{% block javascript %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {extensions: ["mhchem.js"]}
    });
  </script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script src="{% static 'MCBase/js/jquery-ui-1.11.4.custom/jquery-ui.js' %}"></script>
  <link rel="stylesheet" href="{% static 'MCBase/js/jquery-ui-1.11.4.custom/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'Test/css/passageDetail.css' %}">
  <script type="text/javascript" src="{% static 'Test/js/template_passage.js' %}"></script>
{% endblock %}

{% block title %}
  question
{% endblock %}

{% block body_block %}
  {% if request.user.is_superuser %}
    <div>
      [<a href="{% url 'Test:adminPanel' %}">admin panel</a>] &nbsp;
      [<a href="{% url 'Test:questionContainerList' %}">See full list</a>] &nbsp;
      [<a href="{% url 'Test:addPassageEditor' %}">Add passage</a>] &nbsp;
      [<a href="{% url 'Test:addQuestionEditor' 0 %}">Add single question</a>] &nbsp;
      [<a class="cursor-pointer" id="show-edit-tools">Show editing tools</a>] &nbsp;
      [<a class="cursor-pointer" id="hide-edit-tools">Hide editing tools</a>] &nbsp;
    </div>
  {% endif %}

  {% if frontpage %}
    <h1>Question of the Day</h1>
  {% endif %}

  <div class="admin-tools {% if request.user.userprofile.seeAdminTools == False or not request.user.is_authenticated %}display-none{% endif %}">
    {% for tag in questionContainer.tags.all %}
      {{ tag }} &nbsp;
    {% endfor %}
    [<a href="{% url 'Test:editTag' questionContainer.pk %}">edit tags</a>]
  </div>

  <div>
    {% if question %}
      {% include "Test/template_question.html" %}
      <!-- submit button. Cannot be refactored into template_question because passage also uses template_question -->
      <br />
      <button class="btn btn-primary width-100" type="submit">submit</button>
    {% elif passage %}
      {% include "Test/template_passage.html" %}
    {% else %}
      unknown type
    {% endif %}
  </div>

  <!-- user comments -->
  <hr />
  <div class="user-comments {% if showComments == '0' %}display-none{% endif %}">
    {% if comments|length == 0 %}
      <h2>
        No comments!
        {% if request.user.is_authenticated %}
          <a class="toggle-comment cursor-pointer"><sup>Add your own</sup></a>
        {% else %}
          <a class="toggle-login-modal cursor-pointer" data-toggle="modal" data-target="#social-auth-modal"><sup>Log in to add your own!</sup></a>
        {% endif %}
      </h2>
    {% else %}
      <h2>
        {{ comments|length }} comments
        {% if request.user.is_authenticated %}
          <a class="toggle-comment cursor-pointer"><sup>Add your own</sup></a>
        {% else %}
          <a class="toggle-login-modal cursor-pointer" data-toggle="modal" data-target="#social-auth-modal"><sup>Log in to add your own!</sup></a>
        {% endif %}
      </h2>
    {% endif %}

    <div class="comment-form display-none">
      <form id="form1" name="form1" method="post" action="{% url 'Test:addComment' questionContainer.pk %}">
        {% csrf_token %}
        <input type="hidden" name="reply_at" value="None"/>
        <textarea name="form-text" rows="5"></textarea>
        <button class="btn btn-primary width-100" type="submit">submit</button>
      </form>
    </div>

    {% for comment in comments %}
        {% include "Test/template_comment.html" %}
    {% endfor %}
  </div>

{% endblock %}
