

<div>

  <!-- This is the passage -->
  <div class="left-box">
    <div class="box">
      <div class="date">
          passage
          <hr />
      </div>
      <div>
        {{ passage|safe }}
      </div>
      <div class="admin-tools {% if request.user.userprofile.seeAdminTools == False or not request.user.is_authenticated %}display-none{% endif %}">
        [<a href="{% url 'Test:editPassageEditor' passage.pk %}">edit passage</a>] &nbsp;
        [<a href="{% url 'Test:deletePassage' passage.pk %}">delete passage</a>] &nbsp;
        <hr />
        <div>
          {{ passage.adminNotes|safe }}
        </div>

      </div>
    </div>
  </div>

  <div class="box right-box">
    <div class="date">
        questions
        <hr />
    </div>

    <div id="questions-box">
      {% csrf_token %}

      {% for question in passage.questions.all %}
        {% include "Test/template_question.html" %}
      {% endfor %}

      <div class="admin-tools {% if request.user.userprofile.seeAdminTools == False or not request.user.is_authenticated %}display-none{% endif %}">
        [<a href="{% url 'Test:addQuestionEditor' passage.pk 0 %}">Add multiple choice question</a>]
        [<a href="{% url 'Test:addQuestionEditor' passage.pk 1 %}">Add free-response question</a>]
      </div>


    </div>



  </div>


</div>
